

.Cards{

  padding: 20px;

  .Cards__img-wrapper{
    position: relative;

    .Cards__img{
      width: 100%;
      height: 100%;
      max-width: 400px;
      max-height: 300px;
      cursor: pointer;
    }

    .cards__button-like{
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      border: none;
      background-color: unset;

      .cards__like{
      opacity: 0.5;
        &:hover{
          opacity: 1;
          path{
            fill: red;
          }
        }
        &.active{
          path{
            fill: red;
          }
        }
    }

    }
  }

  .Cards__discription{
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 80px;
    padding: 5px;
    overflow: auto;
  }

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

  .modal-wrapper{

  }

  &.active{
    display: block;
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    position: relative;
  }

  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: black;
    padding: 20px 140px;
    height: 150px;
    border: none;
    border-radius: 0px 0px 10px 10px;

  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }


}

.modal-wrapper {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}